---
layout: live
title: Live blog
comments: True
---
<p>
This is a live-*ish blog. It gets updated quite frequently when I go for travel or on an event. Its more or less like a Twitter feed, but I wanted to build this because it allows me to have customizations and the most awesome part there's no word limit.
</p>
<section class="archive">
{% for post in site.categories['livepage'] %}


{% if post.live %}
    <!--
  <div class="bundle row gutters fadeInDown animated">
      <h2 class="post-year col span_2">{{ post.date | date: '%Y' }}</h2>
    <div class="posts-by-year col span_10">
    -->
    <h2>{{ post.title }}</h2>
    <p>
    {{ post.description }}
    </p>
    {{ post.content }}


{% else %}

{% if forloop.first %}
<p>
<h3>
There is no live event at the moment. You may want to sit back and enjoy one of the past events in meantime.
</h3>
</p>
<h3>
Past Events :
</h3>
{% endif %}

<article class="row gutters">
    <a href="{{ site.baseurl }}{{ post.url }}" title="{{ post.title }}" class="col span_8">{{ post.title }}</a>
    <div class="post-date col span_4">
        <time datetime="{{ post.date | date: '%Y-%m-%d' }}">{{ post.date | date: "%-d %B %Y" }}</time>
    </div>
</article>


{% endif %}
{% endfor %}

</section>
